{% if message %}
  <h4>{{message}}!</h4>
{% else %}
    <head>
        <title>Create an album!</title>
    </head>
{% endif %}
    <body>
        <div class="title">
            <p>New Album</p>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('new_album') }}">
                <label for="name">Album name</label>
                <input type="text" name="name" /><br />
                <input type="submit" />
                <input type="reset">
            </form>
         </div>
    </body>
<a href='/album'>Album Home</a>
